.container{
    width: 50%;
    min-height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    /* background-color: black; */
    display: flex;
}

.image-container{
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;

     
}

.image-container>img{
    width: 100%;
    /* border: 1px solid black; */

    
}

.card{
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    

}

