.container{
    width: 50%;
    height: 100px;
    border: 1px solid black;
    display: flex;

}

.left{
    width: 25%;
    height: 100px;
    background-color: black;
    border: 1px solid black;
   clip-path: polygon(0% 0%, 100% 0.12%, 42.25% 100%, 0% 100%);


}

.right{
    width: 75%;
    height: 100px;
    /* border: 1px solid black; */
    
}