*{
    margin: 0;
    padding: 0;
}


.box{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    color: white;
    border: 2px solid black;


}

.right{

    margin-left: auto;
}

.center{

    margin-left: auto;
    margin-right: auto;
}
.left{

    margin-right: auto;
}

