.grid-container{
    width:75% ;
    height: 400px;
    border: 1px solid purple;
    background-color: purple;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    padding: 10px;
   /* grid-template-columns: repeat(3, 1fr);  */

}

.grid-item{
    background-color: yellowgreen;
    border-radius: 10px;
    border: 1px dotted black;
}

.grid-item:nth-child(1){
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 4;

}

.grid-item:nth-child(2){
    background-color: rgb(2, 55, 55);
    
}
.grid-item:nth-child(3){
    background-color: rgb(20, 100, 100);
    
}
.grid-item:nth-child(4){
    background-color: rgb(54, 141, 141);
    
}.grid-item:nth-child(5){
    background-color: rgb(90, 145, 145);
    
}

.grid-item:nth-child(6){
    background-color: rgb(117, 169, 169);
    
}

.grid-item:nth-child(7){
    background-color: rgb(158, 195, 195);
    
}

.grid-item:nth-child(8){
    background-color: rgb(86, 111, 111);
    
}
.grid-item:nth-child(9){
    background-color: rgb(123, 162, 162);
    
}






